.pie{
    width: 100px;
}
@media (max-width:1020px) {
    .pie-schedule-flex{
        display: block;
    }
    .full-width{
        width: 100%;
        /* margin-left: 0px; */
        padding: 0px;
        /* margin-right: 0px; */
    }
}
@media (max-width:850px){
    .align-cneter{
        width: 100%;
        
    }
    .dashboard-padding{
        padding: 0px;
    }
    .menu-icon{
        display: block;
        align-self: center;
        height: 2rem;
        width: 3rem;
    }
    .diable-user{
        display: none;
    }

}
